<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Buy Card</title>
    <script>
        function updateAmountToSpend(checkbox) {
            var cost = parseInt(checkbox.getAttribute('data-cost'));
            var currentAmount = parseInt(document.getElementById("amountToSpend").textContent);
            if (checkbox.checked){
                if (cost > 0)
                document.getElementById("amountToSpend").textContent = currentAmount - cost;
            } else {
                if (cost > 0 )
                document.getElementById("amountToSpend").textContent = currentAmount + cost;
            }
            enableSubmit(document.getElementById("button"));


        function enableSubmit(button){
            var currentAmount = parseInt(document.getElementById("amountToSpend").textContent); 
            if (currentAmount < 0){
                button.disabled = true;
            }else{
                button.disabled = false; 
            }
        }
        }
    </script>
</head>
<body>
    <h1>Buy Card</h1>
    <form action="{{ url_for('buy_card') }}" method="POST">
        <label for="money" class="text">Money:</label>
        <input type="text" id="money" class="text-input" name="money" placeholder="Enter amount">
        <br>
        <button type="submit" class="submit-button">Find Affordable Cards</button>
    </form>
    {% if affordable_cards %}
    <p>Money to spend: <span id="amountToSpend">{{ amountToSpend }}</span></p>
    <form action="{{ url_for('buy_card_at_index') }}" method="POST">
        <h2>Affordable Cards:</h2>
        {% for index, card in affordable_cards %}
        <input type="checkbox" id="card{{ index }}" name="selected_card" 
            value="{{ card.card_name }}" data-cost="{{ card.current_cost }}" onchange="updateAmountToSpend(this)">  
        <label for="card{{ index }}">{{ card.card_name }} - Cost: {{ card.current_cost }}</label><br>
        {% endfor %}
        <button type="submit" id= "button" class="submit-button" onclick="enableSubmit(this)">Buy Selected Card</button> 
    </form>
    {% endif %}
    <form action="{{ url_for('main_menu') }}" method="GET">
        <button type="submit" class="submit-button">Return to main menu</button>
    </form>
</body>
</html>
