<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Cards in Hand</title>
</head>
<body>
    <h1>Cards in Hand</h1>
        {% for card in cards %}
            <p>Name: {{ card.card_name }}
            Color: {{ card.color }}
            Cost: {{ card.current_cost }}
            Red discount: {{ card.red_discount }}
            Blue discount: {{ card.blue_discount }}
            Green discount: {{ card.green_discount }}
            Orange discount: {{ card.orange_discount }}
            Yellow discount: {{ card.yellow_discount }}
            Discounted card: {{ card.discounted_card }}
            Discount amount: {{ card.amount_discounted_card }}
            Victory points: {{ card.victory_points }}</p>
        {% endfor %}
    <form action="{{ url_for('main_menu') }}" method="GET">
        <button type="submit" class="submit-button">Return to main menu</button>
    </form>
</body>
</html>
