<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Main Menu</title>
</head>
<body>
    <h1>Main Menu</h1>
    <form action="{{ url_for('show_cards_in_hand') }}" method="GET">
        <button type="submit" class="submit-button">Bought cards</button>
    </form>
    <form action="{{ url_for('buy_card') }}" method="GET">
        <button type="submit" class="submit-button">Buy card</button>
    </form>
    <form action="{{ url_for('reset') }}" method="POST">
        <button type="submit" class="submit-button">Reset</button>
    </form>
</body>
</html>
